.container{
    margin-top: 50px;
}
.btn-primary{
    margin-right: 5px;

}
.btn-warning{
    margin-right: 5px;
}

#crereqbtn{
    background-color: rgb(219, 165, 100);
    color:black;
}

#table-title{
    /* margin-bottom: 10px; */
    margin-top: 5px;
}
#search{
    margin-bottom: 10px;
}

body{
    font-family: 'Poppins';
}
#Re-open{
    margin-left: 5px;
}

