.container{
    margin-top: 50px;
}
.btn-primary{
    margin-right: 5px;

}
.btn-warning{
    margin-right: 5px;
}

#crereqbtn{
    background-color: rgb(219, 165, 100);
    color:black;
}
#searchbutton{
    width: 60px;
  height: 30px;
  padding: 3px 2px;
  margin: 5px;
  margin-left: 0px;
}

#table-title{
    margin-bottom: 20px;
}
#search{
    margin-bottom: 10px;
}

body{
    font-family: 'Poppins';
}
#Re-open{
    margin-left: 5px;
}

