<nav class ="navbar navbar-expand -sm bg-primary navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="/customerdetails" routerActiveLink="active" class="nav-link">Customers</a>
      </li>
      <!-- <li class="nav-item">
        <a routerLink="create-request" routerActiveLink="active" class="nav-link">Create Request</a>
      </li> -->
      <li class="nav-item">
        <a routerLink="/login"  class="nav-link" (click)="logout()">Logout</a>
      </li>
         
    </ul>
    
    </nav>
<div class="container">
    <h2 id="table-title" class="text-center">Completed Requests List</h2>
    <button id="crereqbtn" class="btn btn-primary" routerLink="/create-request">Create New Request</button>
    <!-- <button id="crereqbtn" class="btn btn-primary" (click)="getCompletedServiceRequestList()">Completed Request</button> -->
    <button id="crereqbtn" class="btn btn-primary" routerLink="/requests">Pending Request</button>
    <div style="margin-bottom: 20px;"></div>
    <input type="text" [(ngModel)]="searchTerm" placeholder="Search">
<button id="searchbutton" class="btn btn-info" (click)="search()">Search</button>

    
<table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Service Name</th>
                <th>Service Type</th>
                <th>Status</th>
                <th>Created at </th>
                <th> Complete By </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let serreq of requests">
                <td> {{ serreq.id}}</td>
                <td> {{ serreq.description}}</td>
                <td> {{ serreq.serviceName}}</td>
                <td> {{ serreq.type}}</td>
                <td> {{ serreq.status}}</td>
                <td> {{ serreq.date |  slice:0:10}}</td>
                <td> {{serreq.complete_by |  slice:0:10}}</td>
                <td>
                    <button class="btn btn-primary" (click)="updateRequest(serreq.id)">Update</button>

                    <!-- <button class="btn btn-warning" (click)="closeServiceRequest(serreq.id)">Close</button> -->
                    <button class="btn btn-danger" (click)="deleteRequest(serreq.id)">Delete</button>
                    <button id="Re-open"class="btn btn-warning" (click)="openServiceRequest(serreq.id)">Re-open</button>
                </td>

            </tr>
        </tbody>

    </table>
</div>


